:root {
  --blue: #056ca6;
  --green: #32765d;
  --orange: #ed4034;
}
/* head */
#primerDiv {
  /*  margin: 0 !important;
  width: 100% !important;
  display: flex !important; */
  border: 2px solid green !important;
}

#logoContainer {
  border: 2px solid red;
  margin-top: 50px;
  /*flex: 1 !important;
  padding-top: 2%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;*/
}

#logoPosta {
  width: 100px;
  margin-left: 15%;
}
.zindexMio {
  z-index: 40 !important;
  border: 2px solid red;
}
.redSvg {
  width: 300px;
  position: absolute;
  top: 850px;
  left: 250px;
  z-index: 30;
}

.negritaP {
  font-weight: bold !important;
}

.cursivaP {
  font-style: italic;
}

.verdeP {
  color: #004e62;
}

.blancoP {
  color: white;
}

.sizeBig {
  font-size: 40px;
}

.sizeNoTanBig {
  font-size: 30px;
}

#logoContainer p {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 50px;
  margin-left: 220px;
  line-height: 60px;
  letter-spacing: 2px;
}

.griega {
  width: 50px;
}

#iGriega1 {
  margin-left: 220px;
  margin-top: 200px;
}

#formContainer {
  border: 2px solid red;
  /*flex: 1 !important;
  margin-left: 25%;
  margin-right: 15%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 25%;*/
}

body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  box-sizing: border-box;
}
#head h1 {
  color: var(--green);
  font-size: 1.5em;
  line-height: 1.6em;
  font-family: "TitilliumWeb-SemiBold";
}
#head h1 span {
  font-family: "TitilliumWeb-Light";
}
#head #logo,
#head h1,
#head #headerBeneficios {
  padding: 30px;
}
#head {
  background-image: url("img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 100vh;
  padding-bottom: 100px;
  /*  display: flex !important; */
}
/* .............. */
.sectionHero {
}
#theForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40%;
}

#theForm .formSide {
  flex: 1;
}
#formLeft {
}
#formRight {
}

.theInput {
  background-color: transparent !important;
  border: 0 0 2px 0 solid #fff !important;
  margin-bottom: 5%;
}

.theInput:focus {
  outline: none !important;
}

::placeholder {
  color: #fff !important;
  opacity: 1;
  font-style: italic;
}

@font-face {
  font-family: "TitilliumWeb-Black";
  src: url("Titillium_Web/TitilliumWeb-Black.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-BoldItalic";
  src: url("Titillium_Web/TitilliumWeb-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-ExtraLight";
  src: url("Titillium_Web/TitilliumWeb-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-ExtraLightItalic";
  src: url("Titillium_Web/TitilliumWeb-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Italic";
  src: url("Titillium_Web/TitilliumWeb-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("Titillium_Web/TitilliumWeb-Light.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-LightItalic";
  src: url("Titillium_Web/TitilliumWeb-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBoldItalic";
  src: url("Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
}

* {
  font-family: "TitilliumWeb-Regular", sans-serif;
}
.bg-marca {
  background-color: #004e62c7;
}
h3 {
  font-family: "TitilliumWeb-SemiBold";
  letter-spacing: 1px;
  font-size: 1.6em;
}
/*
h2,
h3:not(h3 .inner-cuadro),
h4 {
  letter-spacing: .2rem;
  font-family: 'TitilliumWeb-Light', sans-serif;
}
*/
.bold {
  font-weight: 500;
}

.hidden {
  display: none;
}
/* FORMULARIO */
.ml {
  margin-left: 2%;
}
.campo {
  float: left;
  margin-bottom: 10px;
  width: 49%;
}
.campoFull {
  border: 0;
  margin-bottom: 10px;
  width: 100%;
}
label,
.campo,
.campoFull,
label.error {
  color: #e42320;
  font-size: 0.85em;
}
#livomLink a {
  color: var(--blue);
  font-size: 0.7em;
}

/*  Productos */

.font-blue {
  color: var(--blue) !important;
}

.font-green {
  color: var(--green);
}

.border-blue {
  border-color: var(--blue) !important;
}

.agro .title,
.industria .title {
  margin-top: -35px;
}

.p-60 {
}

#gracias {
  background-color: #ffffffd1;
  padding: 20px;
  font-size: 0.9em;
  color: var(--green);
  position: absolute;
  top: 100px;
}

ul#headerBeneficios,
ul#headerServicios {
  list-style: none;
  padding: 0;
}
ul#headerServicios {
  padding: 40px;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: -12px;
  padding-right: 12px;
  width: 102%;
}
ul#headerBeneficios li,
ul#headerServicios li {
  margin-bottom: 30px;
  font-size: 1.2em;
}
ul#headerServicios li {
  color: #fff;
}
ul#headerServicios li img.h {
  height: 30px;
}
ul#headerServicios li img.w {
  width: 20px;
}
ul#headerServicios li img {
  margin-right: 10px;
}
ul#headerBeneficios li img {
  height: 25px;
  margin-right: 10px;
}

ul#headerBeneficios li {
  color: var(--blue);
  font-size: 1.2em;
}
ul#headerBeneficios li span {
  font-family: "TitilliumWeb-SemiBold";
}
#headerContacto {
  text-align: right;
  padding-top: 30px;
  margin-bottom: 60px;
}
#headerContacto a {
  color: #fff;
  text-decoration: none;
}
#headerContacto span {
  font-size: 1.1em;
  letter-spacing: 3px;
  margin-right: 10px;
}
#headerContacto span#telefono {
  font-size: 0.6em;
  text-align: center;
  display: inline-block;
  margin: 0;
  color: var(--green);
}
#headerContacto div {
  color: #fff;
  background-color: var(--green);
  display: inline-block;
  padding: 3px 25px;
}
#headerContacto img {
  height: 21px;
  margin-left: 10px;
  margin-top: -5px;
}
/* historia */
#historia {
  background-image: url("img/historia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -300; */
  background-position: top center;
  /*height: 200vh;*/
  margin-top: 10px;
  position: relative;
  padding-top: 70px;
}
#historia h2 {
  color: #fff;
  text-align: center;
  font-family: "TitilliumWeb-Bold";
  font-size: 1.5em;
  margin-top: -100px;
  width: 100%;
  text-shadow: #5e5e5e 0.5px 0.5px;
  letter-spacing: 2px;
}
#historia #video {
  cursor: pointer;
  margin: auto;
  display: block;
  width: 90%;
}
#historia #elPolo {
  background-color: #fff;
  position: relative;
  padding-top: 60px;
  padding-left: 40px;
  padding-bottom: 100px;
  margin-top: 80px;
}
#historia #elPolo p {
  font-size: 1.2em;
  line-height: 2em;
  margin-top: 40px;
  width: 90%;
}
/* valores */
#valores {
  background-image: url("img/valores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -300; */
  background-position: top center;
  /*height: 200vh;*/
  padding-bottom: 80px;
}
#ubicacion h3,
#valores h3 {
  color: #fff;
  margin-bottom: 60px;
}
#valores #valoresText {
  background-color: #32765dd1;
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
#ubicacion p,
#valores p {
  color: #fff;
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 30px;
}
#valores p#valoresApuesta {
  font-family: "TitilliumWeb-SemiBold";
  color: var(--green);
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 50px;
  margin-left: -50px;
}
#ubicacion {
  background-color: #fff;
}
#fotosText {
  margin-left: -12px;
}
#fotosText,
#ubicacionText {
  /* position: relative;*/
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
#ubicacion #mapWrapper {
  padding-top: 120px;
  margin-left: -15px;
  padding-left: 15px;
  height: 100%;
}
#ubicacion #mapWrapper iframe {
  border-left: 20px solid;
  border-top: 20px solid;
  border-bottom: 20px solid;
  border-right: 20px solid;
  height: 350px;
}
#ubicacionMapPic {
  padding-left: 12px;
  margin-left: -12px;
}
#proyectoFotos {
  background-color: #fff;
}
#carouselImg {
}
#carouselImg .carousel-inner {
  padding-bottom: 50px;
}
#contacto {
  background-image: url("img/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 40px;
}
#contactoWrapper {
  background-color: #ffffffd1;
  padding: 40px;
}
.carousel-item img {
  width: 100%;
}

.carousel-control-next-icon {
  background-image: url("img/right.jpg");
}
.carousel-control-prev-icon {
  background-image: url("img/left.jpg");
}

footer {
  background-color: #004e62;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .social {
  margin-left: 5px;
  width: 21px;
}
footer #logoFooter {
  width: 250px;
}

.left-band.white {
  background-color: #fff;
}
.left-band.blue {
  background-color: var(--blue);
}
.left-band {
  position: absolute;
  left: 0;
  top: 90px;
  width: 10px;
  height: 130px;
}
.right-band {
  margin-left: -40px;
  font-size: 1em;
  text-align: right;
  letter-spacing: 1px;
}
.right-band.blue span {
  background-color: var(--blue);
  color: #fff;
}
#historia .right-band.blue span {
  margin-left: -66px;
  font-size: 0.9em;
  padding: 5px 0px 5px 3px;
}
.contacto p,
.about-contenido-seguro p {
  color: var(--blue);
}

.intro_replen-sello img {
  width: 1rem;
}

.form-label {
  color: var(--blue);
}

.success.circle {
  color: var(--green);
}

textarea {
  resize: none;
}

.btn {
  background-color: var(--green);
  color: #ffffff;
  padding: 0.2rem 1rem;
}

/* About-1 */

.bg-green {
  color: #ffffff;
  background-color: var(--green);
}

.bg-blue {
  color: var(--green);
  background-color: var(--blue);
}

.about-1 h2 {
  line-height: 1.5;
}

.icons-1 {
  margin-top: 5rem;
}

.about-img-container {
  height: 4rem;
}

/* About-tricapa */

/* About Triplen */

#about-triplen {
  background-color: var(--orange);
}

.about-triplen__text h3 {
  color: #ffffff;
}

img#about-triplen-bag {
  width: 40%;
  max-width: 215px;
}
img#about-triplen-bag.t {
  transition: 1.2s;
}
img#about-triplen-bag.ma {
  margin-top: 2rem;
}
/* About contenido seguro */

.about-contenido-seguro h3 {
  color: var(--blue);
  font-size: 1.95rem;
  line-height: 3rem;
}

/* Innovacion-sustentabilidad */

.innovacion-sustentabilidad {
  background-image: url(img/replen-bg-1.png); /* Reemplazar!! */
  background-repeat: no-repeat;
  background-size: cover;
}
.innovacion-sustentabilidad h3 {
  color: var(--green);
}

.innovacion-sustentabilidad__imagen img {
  opacity: 0.8;
  /* padding: 2rem; */
}

.innovacion-sustentabilidad__text {
  background-color: #ffffffd1;
  /*padding: 15px 20px;*/
}

#replen-ciclo {
  background-image: url("./img/replen-ciclo-rm.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /*	min-width: 385px; */
  min-height: 384px;
  max-width: 500px;
  max-height: 499px;
}
#replen-ciclo img {
  margin: auto;
  width: 180px;
}
#replen-ciclo img.t {
}
#replen-ciclo.ma img {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  animation: spin 2s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.historia p {
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.contacto {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#whatsapp {
  position: fixed;
  z-index: 9999;
  bottom: 25px;
  right: 20px;
  width: 60px;

  transition: 0.3s;
}
#whatsapp:hover {
  bottom: 30px;
}
#whatsapp img {
  width: 100%;
}
@media (min-width: 769px) {
  #head h1 {
    font-size: 2.1em;
  }
  #head #logo,
  #head h1,
  #head #headerBeneficios {
    padding: 60px;
  }
  #historia .right-band.blue span {
    padding: 5px 40px 5px 15px;
  }

  .right-band {
    margin-left: 0px;
    font-size: 1.2em;
  }
  #historia h2 {
    font-size: 2.7em;
  }
  h3 {
    font-size: 2.3em;
  }
  #historia #elPolo {
    padding-left: 80px;
  }
  .carousel-control-prev {
    left: -15%;
  }
  .carousel-control-next {
    right: -15%;
  }

  #intro {
  }

  h2,
  h3 {
    /* letter-spacing: .5rem; */
  }

  .historia {
    margin-top: -50px;
  }
  .historia p {
    font-size: 1.2rem;
  }

  /* Navbar */

  .navbar {
    position: absolute;
    width: 100%;
  }

  /* Intro-contacto */
  #intro {
    padding-top: 8rem;
  }

  #intro h2 {
    font-family: "TitilliumWeb-Regular", sans-serif;
    font-size: 2rem;
    margin-top: 0rem;
    padding: 1.5rem 2rem;
  }

  .contacto p {
    font-family: "TitilliumWeb-Light", sans-serif;
    font-size: 0.8rem;
  }

  .contacto {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* About-1 */

  .about-1 h2 {
    /* padding: 3rem 5rem; */
    font-size: 1.8rem;
    font-weight: 600;
  }

  .icons-1 p {
    font-size: 1rem;
  }

  /* About-tricapa */

  #about-tricapa {
    margin-bottom: -8rem;
  }

  .about-tricapa-imagen {
    margin-left: 40px;
    padding-right: 40px;
  }
  .about-tricapa-foto img {
    width: 80%;
  }

  .about-tricapa-imagen img {
    width: 80%;
    margin-top: -3rem;
  }

  /* About Triplen */

  #about-triplen .row {
    height: 45rem;
  }

  .about-triplen__imagen img {
    width: 11rem;
  }

  .about-triplen__text {
    padding-left: 5rem;
  }

  .about-triplen__text h3 {
    color: var(--orange);
    letter-spacing: 0.2rem;
    margin-top: -7rem;
    padding-bottom: 3rem;
    font-size: 1.95rem;
  }

  .about-triplen__text p,
  .about-contenido-seguro p,
  .innovacion-sustentabilidad__text p {
    line-height: 1.3;
  }

  /* About-contenido-seguro */

  .about-contenido-seguro {
    height: 38rem;
  }

  .about-contenido-seguro h3 {
    color: #ffffff;
    margin-top: -12rem;
    padding-bottom: 3rem;
  }

  img#contenido-seguro-bolsa {
    width: 100%;
    max-width: 878px !important;
    margin-left: -11rem;
    margin-top: -25rem;
  }
  img#contenido-seguro-bolsa.t {
    transition: 0.5s;
  }
  img#contenido-seguro-bolsa.ma {
    margin-top: -27rem;
  }
  img#contenido-seguro-bolsa.ma15 {
    margin-top: -29rem;
  }
  img#contenido-seguro-bolsa.ma195 {
    margin-top: -31rem;
  }

  /* Innovacion-sustentabilidad */
  .innovacion-sustentabilidad {
    padding-left: 9rem;
    /*   padding-bottom: 10rem; */
  }
  .innovacion-sustentabilidad h3 {
    font-size: 1.95rem;
    line-height: 3rem;
  }
  .innovacion-sustentabilidad .img-container {
    position: relative;
  }
  img#reciclable-100 {
    /* margin-top: -1.8rem; */
    opacity: 0.9;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  img#reciclable-100.t {
    transition: 0.5s;
  }
  img#reciclable-100.ma {
    /* margin-top: -2.5rem; */
  }
  #innovacion-sustentabilidad h3 {
    color: var(--green);
  }

  .innovacion-sustentabilidad__text {
    /*padding: 2rem 3.5rem; */
    height: 100%;
    margin-left: -12px;
  }
}
.text-justify {
  text-align: justify;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}

.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.three {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.four {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.five {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.six {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
